<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./img/pic3">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/styles.css" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by me. It uses data from mapbox.com and darksky.net!</p>
        <img src="./img/world-map-wallpaper-4053-hd-wallpapers1.jpg">
    </div>
    {{>footer}}
</body>
</html>